@{
    ViewBag.Title = "About";
}

<div class="pt-20">
    <h3>2- Veuillez séléctionner les informations du compte</h3>
</div>

<div class="grid grid-cols-4 gap-5 mt-10">
    <input type="text" class="border border-purple-600 focus:border-purple-600 text-purple-600 p-5 rounded-lg" name="nom" placeholder="Nom" />
    <input type="text" class="border border-purple-600 focus:border-purple-600 text-purple-600 p-5 rounded-lg" name="prenom" placeholder="Prénom" />
    <input type="number" class="border border-purple-600 focus:border-purple-600 text-purple-600 p-5 rounded-lg" name="montant" placeholder="Montant" />

    <button class="bg-purple-600 text-white rounded-lg" name="type">Valider</button>
</div>
